@import '../utils/_breakpoints.scss';
body {
    background:linear-gradient($background-light1, $background-light2);
}
.about {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
    height: 30em;
    padding: 1em;
    margin: 90px 25%;
    @include respond-to ('huge'){
        margin: 90px 15%;
    }
    @include respond-to ('large'){
        margin: 90px 5%;
        flex-direction: column;
        height: fit-content;
    }
    @include respond-to ('small'){
        margin: 40px 0;
        padding: 0;
        flex-direction: column-reverse;
        gap: 20px;
    }
    &_left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
        padding: 1em;
        height: 100%;
        @include respond-to ('small') {
            padding: 0;
        }
        h2 {
            font-size: 35px;
            margin: 0;
            @include respond-to ('medium'){
                font-size: 25px;
            }
        }
        P{
            font-size: 20px;
            @include respond-to ('medium'){
                font-size: 16px;
            }
        }
    }
    &_right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        @include respond-to('large'){
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: flex-end;
        }
        @include respond-to ('small') {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
        img {
            width: 250px;
            height: 250px;
            border-radius: 40% 5%;
            border: 1px solid $border;
            box-shadow: 5px 5px 10px $component-shadow;
            @include respond-to ('medium'){
                width: 180px;
                height: 180px;
            }
        }
        a {
            padding: 8px 16px;
            margin-top: 0;
            margin-bottom: 15px;
            margin-left: 15px;
            text-decoration: none;
            @include respond-to ('large'){
                margin: 0;
                margin-bottom: 20px;
            }
        }
    }
}
.works {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    margin: 90px 25%;
    padding: 1em;
    gap: 20px;
    color: $text-color;
    @include respond-to ('huge'){
        margin: 90px 15%;
    }
    @include respond-to ('large') {
        margin: 90px 5%;
    }
    @include respond-to ('small'){
        margin: 40px 0;
    }
    h2 {
        font-size: 35px;
        margin: 0;
        @include respond-to ('medium') {
            font-size: 25px;
        }
    }
    .projets {
        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;

        .projet {   
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            
            background-color: $component;
            padding: 1em;
            border-radius: 2em;
            box-shadow: 5px 5px 10px $component-shadow;

            @include respond-to ('medium') {
                justify-content: space-around;
                gap: 0;
            }
            &_readme {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 300px;
                @include respond-to ('medium') {
                    width: 180px;
                    gap: 10px
                }
                h3 {
                    font-size: 30px;
                    @include respond-to ('medium') {
                        font-size: 20px;
                        padding: 0;
                        margin: 0;
                    }
                }
            }  
            &_preview {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                img {
                    width: 300px;
                    box-shadow: 5px 5px 10px $component-shadow;
                    border-radius: 25px;
                    transition: transform 400ms ease-in-out;
                    @include respond-to ('medium') {
                        display: none;
                        opacity: 0;
                    }
                    &:hover {
                        transform: scale(1.1);
                    }
               }
               .links {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    width: 100%; 
               }
               
            }
        }
    }    
}

.section-techno {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 90px 25%;
    @include respond-to ('huge'){
        margin: 90px 15%;
    }
    @include respond-to ('large') {
        margin: 90px 5%;
    }
    @include respond-to ('small'){
        margin: 40px 0;
    }
    h2 {
        font-size: 35px;
        margin: 0;
        @include respond-to ('medium') {
            font-size: 25px;
        }
    }
    .techno-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        h3 {
            font-size: 30px;
            margin: 0;
            @include respond-to ('medium') {
                font-size: 20px;
            }
        }
        .techno {
            display: flex;
            flex-direction: row;
            gap: 50px;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            .btn {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;
                width: fit-content;
                img {
                    padding: 0;
                    margin: 0;
                    height: 40px;
                    @include respond-to ('medium') {
                        height: 30px;
                    }
                }
                p {
                    padding: 0;
                    margin: 0;
                    font-size: 20px;
                    @include respond-to ('medium') {
                        display: none;
                        opacity: 0;
                    }
                }
            }
        }
    }
}