@media screen and (max-width: 1200px) {

    header{
        padding: 0 1em;
    }
    .menu a {
        font-size: 20px;
    }

    .projets {
        margin: auto;
        flex-direction: column;
        align-items: center;
    }
    .Technologies{
        margin-left: 25%;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
    }
    .technoTools,
    .technoLang {
        display: flex;
        flex-direction: column;    
    }
    .about {
        margin: auto;
        flex-direction: column;
        align-items: center;
    }

}