@media screen and (max-width: 1450px) {

    header{
        padding: 0 1em;
    }
    .menu a {
        font-size: 20px;
    }

    .projets {
        margin: 50px 1em;
    }
    .Technologies{
        margin: 50px 1em;
    }
    .about {
        margin: 50px 1em;
    }

}