@import '../utils/_breakpoints.scss';
.switch-bloc {
    position: absolute;
    right: 50px;
    top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    @include respond-to ('large') {
        top: 70px;
    }
    @include respond-to ('medium') {
        display: none;
        opacity: 0;
    }
}
.switch {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
    input {
        position: absolute;
	    top: -30px;
	    left: -30px;
	    width: 0;
	    height: 0;
        &:checked + span {
            background-color: $component-dark;
            &::before {
                left: 34px;
                background: $component;
            }
        }
        + span {
            position: absolute;
	        top: 0;
	        bottom: 0;
	        left: 0;
	        right: 0;
	        background: $component;
	        border-radius: 20px;
            &::before{
                content: "";
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 4px;
                width: 32px;
                height: 32px;
                background: $component-dark;
                border-radius: 50%;
                transform: translateY(-50%);
                transition: all .5s;
            }
        }
    }
}